.box{
    margin-top: 20px;
}
.upper{
    background-color: rgb(29, 124, 233);
    color: #fff;
    height: 7vh;
}

.upper span a{
    margin-top: 12px;
    padding: 20px;
    font-weight: 600;
    font-size: x-large;
}

.plus{
    float: right;
    padding: 5px;
    margin-top: 5px;
    margin-right: 30px;
    color: white;
    background-color: rgb(29, 124, 233);
    border-radius: 200px;
}

.plus:hover{
    background-color: rgb(9, 93, 189);
    transition: 0.5s;
}

.content{
    border:solid 3px rgba(0, 0, 0, 0.555);
    border-top: none;
    max-height: 75vh;
}

#table-wrapper {
    position:relative;
}
#table-scroll {
    overflow-y: auto;
    height: 75vh;
    max-height: 75vh; 
    margin-bottom: none;
}